<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Удаление пользователя</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="${error}"/>
    <p th:if="${deleted != null}" th:text="${deleted}"/>

    <form th:if="${deleted == null and id!=null}" th:action="@{/delete}" method="post">
        <input type="hidden" name="id" th:if="${id != null}" th:value="${id}"/>
        <p>Name: <input type="text" name="name" th:value="${name} == null ? '' : ${name}"/></p>
        <p>Age: <input type="number" name="age" th:value="${age} == null ? '' : ${age}"/></p>
        <p>isAdmin:
            <select name="isAdmin">
                <option value="0" th:selected="${isAdmin == 0}">False</option>
                <option value="1" th:selected="${isAdmin == 1}">True</option>
            </select>
        </p>
        <p>Creaton datetime: <input type="text" name="createdDate" th:value="${createdDate}"/></p>
        <input type="submit" name="delete"/>
    </form>

    <p><a th:href="@{/}">Главная страница</a></p>
</body>
</html>