<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная страница</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form th:action="@{/}" method="get">
        <p>Фильтр: <input type="text" name="filter"/></p>
        <input type="submit" name="Отфильтровать"/>
    </form>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>age</th>
                <th>isAdmin</th>
                <th>createdDate</th>
                <th>edit</th>
                <th>delete</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}">id</td>
                <td th:text="${user.name}">name</td>
                <td th:text="${user.age}">yes</td>
                <td th:text="${user.isAdmin}">isAdmin</td>
                <td th:text="${user.createdDate}">createdDate</td>
                <td ><a th:href="@{/update(id=${user.id})}">редактировать</a></td>
                <td ><a th:href="@{/delete(id=${user.id})}">удалить</a></td>
            </tr>
        </tbody>
    </table>

    <a th:if="${prevPage}!=null" th:href="@{/(page=${prevPage}, filter=${filter})}" th:text="${prevPage}"></a>
    <a th:href="@{/(page=${currentPage}, filter=${filter})}" th:text="${currentPage}"></a>
    <a th:if="${nextPage}!=null"  th:href="@{/(page=${nextPage}, filter=${filter})}" th:text="${nextPage}"></a>
    <p><a th:href="@{/create}">Создать пользователя</a></p>

</body>
</html>