<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавление пользователя</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:if="${error != null}" th:text="${error}"/>
    <p th:if="${success_created != null}" th:text="${success_created}"/>
    <form th:action="${id == null }? @{/create} : @{/update} " method="post">
        <input type="hidden" name="id" th:if="${id != null}" th:value="${id}"/>
        <p>Name: <input type="text" name="name" th:value="${name} == null ? '' : ${name}"/></p>
        <p>Age: <input type="number" name="age" th:value="${age} == null ? '' : ${age}"/></p>
        <p>isAdmin: <select name="isAdmin">
                <option value="0" th:selected="${isAdmin == 0}">False</option>
                <option value="1" th:selected="${isAdmin == 1}">True</option>
            </select>
        </p>
        <input type="submit" name="submit"/>
    </form>
    <p><a th:href="@{/}">Главная страница</a></p>
</body>
</html>